<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/estilos.css">
     <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
     <link rel="shortcut icon" href="../img/pokelogo.jpg">
     <title>PokeBowl</title>
</head>
<body>

     <!-- BOTON DE IR ARRIBA -->
     <div id="btn-top">
          <span class="fas fa-angle-up"></span>
     </div>



     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">
          <div class="logo" id="logo">
               <img src="../img/logofood.png" alt="Logo">
          </div>

          <div class="menu-bar" id="menuBar">
               <i class="fas fa-angle-right" id="btnMenuClose"></i>

               <nav class="enlaces" id="enlaces">
                    <ul>
                         <li><a href="#servicios">Service</a></li>
                         <li><a href="#equipo">Team</a></li>
                         <li><a href="#contacto">Contact Us</a></li>
                    </ul>
               </nav>

               <div class="sociales">
                    <a href="#"><span class="fab fa-facebook"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
               </div>
          </div>

          <i class="fas fa-bars" id="btnMenuOpen"></i>



     </div>


     <!-- SLIDER DE PRODUCTOS -->
     <section id="menu-productos">
          <div class="contenedor-principal">
               <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

               <div class="slider">
                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2><b>Premium</b></h2>
                              <h1>Sushi</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="../img/sushi.webp" alt="">
                         </div>



                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2><b>Premium</b></h2>
                              <h1>Ramen</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="../img/ramen.png" alt="">
                         </div>



                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2><b>Premium</b></h2>
                              <h1>Sashimi</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="../img/sashimi.png" alt="">
                         </div>



                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2><b>Special</b></h2>
                              <h1>Tempura</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="../img/tempura.webp" alt="">
                         </div>



                    </div>

                    <div class="container-productos">
                         <div class="descripcion-productos">
                              <h2><b>Special</b></h2>
                              <h1>Udon</h1>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident debitis nihil incidunt quisquam ab reiciendis consequuntur iure.</p>

                              <button class="btn"> ¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                         </div>

                         <div class="imagen-productos">
                              <img src="../img/udon.png" alt="">
                         </div>



                    </div>


               </div>

               <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
          </div>
     </section>


     <!-- SECCION SERVICIOS -->
     <section id="servicios">
          <div class="servicios-titulos">
               <h2 class="subtitulos">Best japanese food in town</h2>
               <h1 class="titulos">Welcome to PokeBowl</h1>
          </div>

          <div class="servicios-container">
               <div class="imagen-central">
                    <img src="../img/portada3.png" alt="">
               </div>

               <div class="items calidad">
                    <p><span class="fas fa-pizza-slice"></span></p>
                    <p class="titulo-item">Quality</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>

               <div class="items ingredientes">
                    <p><span class="fas fa-bowl-food"></span></p>
                    <p class="titulo-item">Ingredients</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>

               <div class="items rapidez">
                    <p><span class="fas fa-clock"></span></p>
                    <p class="titulo-item">Time</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>

               <div class="items delivery">
                    <p><span class="fas fa-shipping-fast"></span></p>
                    <p class="titulo-item">Delivery</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>




          </div>

     </section>


     <!-- SECCION DE EQUIPO -->
     <section id="equipo">
          <div class="persona">
               <img src="../img/chef1.jpg" alt="" class="persona-imagen">
               <div class="persona-info">
                    <h2>Pikachu</h2>
                    <p>Professional Chef</p>
                    <div class="social-media">
                         <a href=""><span class="fab fa-facebook"></span></a>
                         <a href=""><span class="fab fa-instagram"></span></a>
                         <a href=""><span class="fab fa-twitter"></span></a>
                         <a href=""><span class="fab fa-linkedin-in"></span></a>
                    </div>

               </div>
          </div>

          <div class="persona">
               <img src="../img/chef2.jpg" alt="" class="persona-imagen">
               <div class="persona-info">
                    <h2>Charmander</h2>
                    <p>Professional Chef</p>
                    <div class="social-media">
                         <a href=""><span class="fab fa-facebook"></span></a>
                         <a href=""><span class="fab fa-instagram"></span></a>
                         <a href=""><span class="fab fa-twitter"></span></a>
                         <a href=""><span class="fab fa-linkedin-in"></span></a>
                    </div>

               </div>
          </div>

          <div class="persona">
               <img src="../img/chef3.jpg" alt="" class="persona-imagen">
               <div class="persona-info">
                    <h2>Squirtle</h2>
                    <p>Chef Assistant</p>
                    <div class="social-media">
                         <a href=""><span class="fab fa-facebook"></span></a>
                         <a href=""><span class="fab fa-instagram"></span></a>
                         <a href=""><span class="fab fa-twitter"></span></a>
                         <a href=""><span class="fab fa-linkedin-in"></span></a>
                    </div>

               </div>
          </div>

          <div class="persona">
               <img src="../img/chef4.jpg" alt="" class="persona-imagen">
               <div class="persona-info">
                    <h2>Bulbasaur</h2>
                    <p>Chef Assistant</p>
                    <div class="social-media">
                         <a href=""><span class="fab fa-facebook"></span></a>
                         <a href=""><span class="fab fa-instagram"></span></a>
                         <a href=""><span class="fab fa-twitter"></span></a>
                         <a href=""><span class="fab fa-linkedin-in"></span></a>
                    </div>

               </div>
          </div>
     </section>


     <!-- SECCION DE INGREDIENTES -->
     <section id="ingredientes">
          <div class="ingre">
               <img src="../img/ingrediente1.jpeg" alt="" class="imagen-ingre">
               <div class="info-ingre">
                    <p><span class="fas fa-bowl-rice"></span></p>
                    <p class="txt-ingre">Noodles</p>
               </div>
          </div>

          <div class="ingre">
               <img src="../img/ingrediente2.webp" alt="" class="imagen-ingre">
               <div class="info-ingre">
                    <p><span class="fas fa-leaf"></span></p>
                    <p class="txt-ingre">Vegetables</p>
               </div>
          </div>

          <div class="ingre">
               <img src="../img/ingrediente3.jpeg" alt="" class="imagen-ingre">
               <div class="info-ingre">
                    <p><span class="fas fa-fill-drip"></span></p>
                    <p class="txt-ingre">Soy Sauce</p>
               </div>
          </div>

          <div class="ingre">
               <img src="../img/ingrediente4.jpeg" alt="" class="imagen-ingre">
               <div class="info-ingre">
                    <p><span class="fas fa-fish"></span></p>
                    <p class="txt-ingre">Fish</p>
               </div>
          </div>
     </section>



     <!-- SECCION CONTACTO -->
     <section id="contacto">
          <div class="titulo-contacto">
               <h2 class="subtitulos">We want to know your opinion</h2>
               <h1 class="titulos">Contact us!</h1>
          </div>

          <form action="" id="formulario">
               <div class="two-fiels">
                    <div class="inputConIcon">
                         <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Name">
                         <i class="fas fa-user"></i>
                    </div>

                    <div class="inputConIcon">
                         <input type="email" id="email" name="email" class="input-email" placeholder="Email">
                         <i class="fas fa-envelope"></i>
                    </div>
               </div>


               <div class="fiels">
                    <div class="inputConIcon textareaIcon">
                         <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Enter your comment"></textarea>
                         <i class="fas fa-comments"></i>
                    </div>
               </div>

               <div class="fiels-btn">
                    <input type="submit" class="btn btn-input" value="Send">
               </div>
          </form>
     </section>


     <!-- ALERTAS -->
     <div class="alertas">
          <div id="alertError" class="alert hide">
               <span class="icono-alert fas fa-exclamation-circle"></span>
               <span class="msg">Error:campos de entrada vacios.</span>
          </div>

          <div id="alertSuccess" class="alert hide">
               <span class="icono-alert fas fa-check-circle"></span>
               <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
          </div>
     </div>


     <!-- SECCION FOOTER -->
     <footer>
          <div class="sociales-metodo">
               <i class="fas fa-map-marker-alt"></i>
               <span>Lorem ipsum dolor sit amet.</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-envelope"></i>
               <span>info@pokebowl.com</span>
          </div>

          <div class="sociales-metodo">
               <i class="fas fa-phone"></i>
               <span>+5025656556</span>
          </div>

          <div class="sociales-metodo">
               <i class="fab fa-twitter"></i>
               <span>@pokebowl</span>
          </div>
     </footer>




     <script src="../js/app.js"></script>
</body>
</html>